*{
	box-sizing: border-box;
}

body, html {

/*-webkit-tap-highlight-color: red;*/ /*not sure if this works/*/

min-height: 100vh;
margin: 0 ;
font-family: 'Rubik', sans-serif;
font-size: 100%;
background-color: #4A466C;

}
img{
max-width: 100%;
}
/* -- alwways have latter code on css-->*/
p{
margin-bottom: 0px;
margin-top: 0px;
font-size: 1rem;
font-weight: 200;
}
h3{
color: #09015A;
margin-bottom: 0.1em;
margin-top: 0.1em;
}

a {
    text-decoration: none;
    color: #4A63C9;
    font-size: 1.4rem;
}
  a:hover {
  	padding-left:5px; 

}
h4, h5 {
		padding:0.5em;
  color: #92813C;
cursor: url(../imgs/pointtt.png), auto;
}
h5 {
	font-size: 1em;
 color:	#5B7AEF;
}

.logo{
	cursor: pointer;
	/*background-image: url(../imgs/smile.png);*/
	width:100px;
	height:100px;
	/*background-size:100%;*/
}

.veewrap{
	
	display: flex;
	align-items: center;
	justify-content: center;

/*background:#eee;*/
  width: 100%;
  height: 5em;
  background-color: #F1E292;
  background-size:10%;
  
  border:none;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

 border: 1px solid;
border-color: #92813C;
  

}
.futlogo{
 content:url(../imgs/veeekon.png);	

/*	background-image: url(../imgs/VEE.png);*/
	width:3em;
	height:3em;
	background-repeat: repeat-x;
	
	background-size:100%;
}


header{

/*max-width: 1140px;*/
text-align: center;

background-color: #F1E292;
padding:1em 2em;

display: flex;
justify-content: space-between;
align-items: center;

border: 2px solid;
	
border-color: #92813C;


}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 30px;
}

nav ul li a {
/*color: #09015A;*/
color:#92813C;

}

nav ul li a:hover {
color: #09015A;
padding-top: 2px;
font-size: 20px;


}


body{		
display: flex; /*row by default*/
flex-direction: column;/* changes parent to column*/
}


.OLD-JOKEE{
display: none;


}
main{

	border: 1.99px dashed;
	border-radius: 15px;
	border-color: #92813C;
	font-weight: 300px;
	font-size: 2.5em;
	
    flex-grow: 1;
    display:flex;
    justify-content: center; /* x axis */
    align-items: center; /* y axis */

    background-color: white;

margin:32px;


}
.jokees{
	padding:0.5em;
  color: #92813C;
cursor: url(../imgs/pointtt.png), auto;

}


.logo img:not(:first-child){ /*sellect all but not fiirst*/
	display: none;
}

main :not(:first-child){ /*sellect all but not fiirst*/
	display: none;


}


footer > div{
	

}





footer {
padding-left: 2em;
padding-right: 2em;
padding-bottom: 2em;

display:grid;
grid-template-columns: 1fr;
grid-gap: 30px;

;


justify-items: center;
 
}


.nested{


box-sizing: border-box;
margin-bottom: 1px;

display: grid;
grid-template-columns: 0.8fr 0.8fr;
grid-gap: 30px;
grid-auto-rows :100px;
width: 100%;

justify-content: center;
align-items:center; 


}
.credits{
display: grid;
align-items: center;

background:white;
/*border: 3px black dashed;*/
width: 100%;
height: 100%;
padding: 20px;
 
border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

border: 1px solid;
border-color: #92813C;
}

.student{
display: grid;
align-items: center;

background:white;
/* border: 3px black dashed;*/
 width: 100%;
 height: 100%;
 padding: 20px;


border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;

border: 1px solid;
border-color: #92813C;

}



/*oter > div.nested > div.credits{
display: flex;
align-items: center;
grid-gap: 20px;
}

.student{
	text-align: right;
}*/





@media screen and (min-width:1380px){

main{
margin-left: 200px;
margin-right: 200px;
}

header{
padding-left: 200px;
padding-right: 200px;

}

footer {
padding-left: 200px;
padding-right: 200px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 4em;
}
}

@media screen and (min-width:1380px){

main{
margin-left: 200px;
margin-right: 200px;
}

header{
padding-left: 200px;
padding-right: 200px;

}

footer {
padding-left: 200px;
padding-right: 200px;
}

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	grid-gap: 4em;
}
}








